$main-bg: #232c33;
$navbar-bg: #1b4965;
$window-bg: #2e373d;

$logo-color: #fcf6bd;
$text-color: #f8edeb;
$hover-text-color: darken($text-color, 10%);

$button-accept: #60d394;
$button-edit: #90e0ef;
$button-cancel: #ef233c;
