@import "@/styles/colors.scss";

.main {
  position: relative;
  top: -28rem;

  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.54);

  padding: 1rem;

  div {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  &__buttons {
    justify-content: center;
  }

  select {
    margin: 0.5rem 0;
    padding: 0.5rem;

    border: 1px solid $logo-color;
    border-radius: 5px;

    &:focus {
      outline: 3px solid $logo-color;
    }
  }

  @import "@/styles/Button.scss";
}
