@import "@/styles/colors.scss";

.main {
  text-align: center;

  h1 {
    color: $logo-color;
    font-size: 6rem;
  }

  p {
    color: $text-color;
    font-size: 4rem;
  }

  &__photos {
    display: flex;
    gap: 1rem;
    justify-content: center;

    margin: 5rem 1rem;

    div {
      display: flex;
      flex-direction: column;

      align-items: center;

      width: auto;

      img {
        width: 80%;
        height: 80%;
      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 812px) {
    h1 {
      color: $logo-color;
      font-size: 3rem;
    }

    p {
      color: $text-color;
      font-size: 1.5rem;
    }

    &__photos {
      flex-direction: column;

      div {
        margin-bottom: 3rem;
      }
    }
  }
}
