@import "@/styles/colors.scss";

.main {
  text-align: center;

  h1 {
    color: $logo-color;
    font-size: 6rem;
  }

  p {
    color: $text-color;
    font-size: 4rem;
  }

  @media (max-width: 812px) {
    h1 {
      color: $logo-color;
      font-size: 4rem;
    }

    p {
      color: $text-color;
      font-size: 2rem;
    }
  }
}
