@import "@/styles/colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $navbar-bg;

  margin: 0;
  padding: 1rem;

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: $logo-color;
  }

  &__links {
    display: flex;
    gap: 1rem;
    align-items: center;

    color: $text-color;

    a:hover {
      color: $hover-text-color;
    }

    div:first-of-type {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 812px) {
    &__logo {
      font-size: 0.8rem;
    }

    &__links {
      text-align: center;
      margin: 0 1rem;

      div:first-of-type {
        flex-direction: row;
      }
    }
  }
}
