@import "@/styles/colors.scss";

.main {
  h1 {
    color: $text-color;
    text-align: center;
  }

  div {
    display: flex;
    gap: 1rem;
    justify-content: center;

    @import "@/styles/Button.scss";

    button:first-child {
      background-color: $button-accept;
    }

    button:nth-child(2) {
      background-color: $button-cancel;
    }
  }
}
