@import "@/styles/colors.scss";

.icon {
  display: flex;
  color: $logo-color;

  &__password {
    display: flex;
    gap: 0.8rem;
  }

  &__button {
    svg {
      color: $logo-color;

      &:hover {
        cursor: pointer;
        color: darken($logo-color, 20);
      }
    }
  }
}

.main {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.54);

  color: $text-color;

  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;
  margin: 2rem 10rem;

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
      margin: 0;
    }

    margin-bottom: 1rem;

    &__shared {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      svg {
        font-size: 1.5rem;
        color: $logo-color;
      }
    }
  }

  &__credentials {
    display: grid;
    grid-template-columns: 1.5rem 18rem 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 0.5rem;
    row-gap: 1rem;

    align-items: center;

    p {
      text-decoration: underline;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    margin-top: 1rem;

    @import "@/styles/Button.scss";
  }

  &__note {
    margin-top: 1rem;
  }
}
