@import "@/styles/colors.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $text-color;
}

.edit {
  display: flex;
  flex-direction: column;

  border: 1px solid black;

  padding: 3rem;
  margin: 3rem 10rem;
  max-width: 50rem;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.54);

  &__header {
    h1 {
      color: $logo-color;
      font-size: 2rem;
      text-align: center;
      margin: 1rem;
      text-align: center;
    }

    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 0.9rem;

    margin-top: 1rem;

    color: $text-color;

    input {
      width: 100%;

      margin: 0.5rem 0;
      padding: 0.5rem;

      border: 1px solid $logo-color;
      border-radius: 5px;

      &:focus {
        outline: 3px solid $logo-color;
      }
    }

    @import "@/styles/Button.scss";

    &__error {
      color: red;
    }
  }
}
